html, body{
    background-color: #E7ECEF;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: unset;
}

h1, h2{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #274C77;
    color: #E7ECEF;
    height: 75px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CategoryTitle{
    background-color: #6096BA;
    padding: 15px;
}

.row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#AboutMe{
    background-color: #A3CEF1;
    width: 100%;
    float: left;
}

#AboutMeContent{
    display: flex;
    width: 100%;
}

#AboutMeInfo{
    flex: 0 1 auto;
    padding-right: 30px;
    float: left;
}

#AboutMeInterests{
    flex: 1;
    border-left: 1px solid black;
    padding: 0 15px;
    float: left;
}

#Projects{
    background-color: #A3CEF1;
    flex: 1;
    float: left;
}

#ProjectsContent{
    padding: 0 15px;
}

#ProjectsContent dt{
    font-size: 20px;
    font-weight: bold;
}

#ProjectsContent dd{
    margin-bottom: 15px;
}

#Socials{
    background-color: #A3CEF1;
    flex: 0 1 auto;
    margin-left: 50px;
    float: left;
}