body{
  background-color: gray;
  margin: 0;
  padding: 0;
}

header{
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 300px;
  height: 100px;
}

nav{
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.NavButton{
  height: 100%;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavButton:hover{
  background-color: rgba(0, 0, 0, 0.10);
}
.NavButton:active{
  background-color: rgba(0, 0, 0, 0.20);
}
.NavButton a:link, a:visited{
  color: black;
  text-decoration: none;
}

.spacer{
  width: 0px;
  border: 1px solid rgba(0, 0, 0, 0.705);
}

main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  box-sizing: border-box;
  padding: 15px;
}
.graphics{
  display: flex;
  flex: 1 1 calc((100% - 30px) / 3);
  min-width: 300px;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  align-items: end;
  border-radius: 20px;
  cursor: pointer;
}
.graphicsText{
  width: 100%;
  height: fit-content;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
}
.graphicsText p{
  margin: 10px 0;
}

footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: white;
  align-items: center;
}
#kontakt{
  width: fit-content;
}
#kontakt *{
  color: black;
  text-decoration: none;
  margin: 0;
}

.overlay{
  position: fixed;
  display: none;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.80);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}