body{
  background-color: gray;
  margin: 0;
  padding: 0;
}

header{
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo{
  width: 300px;
  height: 100px;
}

nav{
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.NavButton{
  height: 100%;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavButton:hover{
  background-color: rgba(0, 0, 0, 0.10);
}
.NavButton:active{
  background-color: rgba(0, 0, 0, 0.20);
}
.NavButton a:link, a:visited{
  color: black;
  text-decoration: none;
}

.spacer{
  width: 0px;
  border: 1px solid rgba(0, 0, 0, 0.70);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.graphics {
  display: flex;
  align-items: end;
  width: 100%;
  aspect-ratio: 1.5 / 1;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.graphics:hover {
  transform: scale(1.03);
}

main:has(.graphics:only-child) {
  grid-template-columns: 1fr;
}

main:has(.graphics:first-child:nth-last-child(2)) {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
}

.graphicsText{
  width: 100%;
  height: fit-content;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
}
.graphicsText p{
  margin: 10px 0;
}

footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: white;
  align-items: center;
}
#kontakt{
  width: fit-content;
}
#kontakt *{
  color: black;
  text-decoration: none;
  margin: 0;
}

#overlay{
  position: fixed;
  display: none;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.80);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#overlay span{
  position: absolute;
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: right;
}
#overlay-close{
  top: 20px;
  right: 20px;
}
#overlay-next{
  top: 50%; right: 20px; font-size: 50px;
  transform: translateY(-50%);
}
#overlay-prev{
  top: 50%; left: 20px; font-size: 50px;
  transform: translateY(-50%);
}
#overlay-img{
  height: 90%;
}
